src/.vs
src/bin
src/obj
src/Properties
src/App.config
src/Tariff_Project.sln
src/Tariff_Project.csproj
.vs
Vs_Progect_Tariff/.vs
Vs_Progect_Tariff/bin
Vs_Progect_Tariff/obj
Vs_Progect_Tariff/Properties
Vs_Progect_Tariff/App.config
Vs_Progect_Tariff/*.cs
Vs_Progect_Tariff/*.resx
Vs_Progect_Tariff/*.csproj
Vs_Progect_Tariff/*.sln
desktop.ini
Project/